{% extends 'wod/base.html' %}
{% load static %}

{% block title %}Word of the Day{% endblock %}

{% block content %}
    <div class="word-card">
        <div class="language-selector">
            <form method="get" action="{% url 'random_word' %}" id="languageForm">
                <label for="language">Select Language:</label>
                <select name="language" id="language" onchange="this.form.submit()">
                    <option value="">All Languages</option>
                    {% for lang in languages %}
                        <option value="{{ lang.code }}" {% if selected_language == lang.code %}selected{% endif %}>
                            {{ lang.name }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>

        {% if word %}
            {% if word.language.code == 'hu' %}
                <img src="{% static 'images/magyar.svg' %}" alt="Hungarian" class="language-icon">
            {% elif word.language.code == 'de' %}
                <img src="{% static 'images/deutsch.svg' %}" alt="German" class="language-icon">
            {% else %}
                <img src="{% static 'images/favicon-letters.svg' %}" alt="{{ word.language.name }}" class="language-icon">
            {% endif %}
            <div class="word">{{ word.word }}</div>
            <div class="language">{{ word.language.name }}</div>

            <div class="label">Translation</div>
            <div class="translation">{{ word.translation }}</div>

            <div class="label">Definition</div>
            <div class="definition">{{ word.definition }}</div>

            <a href="?language={{ selected_language }}" class="refresh-btn">Show Another Word</a>
        {% else %}
            <div class="no-words">No words available yet. Please add some words to get started!</div>
        {% endif %}
    </div>
{% endblock %}
